<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <error-bar :error="error"></error-bar>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <v-card>
          <v-card-title>{{ title }}</v-card-title>
          <v-card-text>
            <slot></slot>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="2" class="hidden-sm-and-smaller"></v-col>
    </v-row>
  </v-container>
</template>

<script>
import ErrorBar from '@/components/ErrorBar';

export default {
  name: 'ManagementForm',
  components: {
    ErrorBar,
  },
  props: {
    error: {
      type: String,
      default: ''
    },
    title: {
      type: String,
      default: ''
    },
  },
}
</script>

<style></style>

