<template>
  <v-card :color="color">
    <v-list-item three-line>
      <v-list-item-avatar size="80" color="grey">
        <v-icon>mdi-account-group</v-icon>
      </v-list-item-avatar>
      <v-list-item-content>
        <div class="overline mb-4">{{ room.details.name }}</div>
        <v-list-item-title class="headline mb-1">
          {{ room.statistics.participants }} watching
        </v-list-item-title>
        <v-list-item-subtitle>{{ statusLine }}</v-list-item-subtitle>
      </v-list-item-content>
    </v-list-item>
    <v-card-actions>
      <v-btn outlined block :href="link" target="_blank">
        Watch
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  name: 'RoomStatus',
  props: {
    room: {
      type: Object
    }
  },
  computed: {
    link() {
      return `http://example.com/${this.room.stream}/`;
    },
    color() {
      if (this.status === this.NORMAL()) {
        return 'green accent-3';
      } else if (this.status === this.DEGRADED()) {
        return 'yellow accent-3';
      } else {
        return 'red accent-2';
      }
    },
    statusLine() {
      if (this.room.statistics.error) {
        return this.room.statistics.error;
      } else {
        return 'Streaming normally';
      }
    },
    status() {
      // TODO: This doesn't update as expected...
      if (this.room.statistics.error) {
        return this.OFFLINE();
      } else {
        return this.NORMAL();
      }
    },
  },
  methods: {
    NORMAL: function() {
      return 'NORM';
    },
    DEGRADED: function() {
      return 'DEG';
    },
    OFFLINE: function() {
      return 'OFF';
    },
  },
}
</script>

<style scoped></style>
