<template>
  <div>
    <video :muted="muted"
           autoplay
           playsinline
           ref="room"
           class="stream"
           id="video"
           width="100%"
    ></video>
    <div id="no-video">
      No video available
    </div>
  </div>
</template>

<script>
export default {
  name: 'WebRtcVideo',
  props: {
    muted: {
      type: Boolean,
      default: false
    },
  },
}
</script>

<style scoped>
#video {
  display: none;
}
#no-video {
  display: block;
  background-color: #000000;
  color: white;
  height: 100%;
  text-align: center;
}
</style>
