<template>
  <v-app>
    <v-content transition="slide-x-transition">
      <router-view></router-view>
    </v-content>
  </v-app>
</template>

<script>
import Api from '@/utils/api.js'

export default {
  name: 'App',
  mounted() {
    var api = new Api();
    api.currentConference().then(response => {
      this.$store.commit('conference', response.data);
    }).catch(error => {
      if (error.response && error.response.status === 404) {
        this.$router.push({
          name: 'ConferenceCreateAdmin'
        });
      } else {
        console.log(error)
      }
    });
  }
};
</script>

<style></style>
