<template>
  <v-container>
    <v-row>
      <v-col cols="12" md="3" v-for="room in rooms" :key="room.id">
        <room-status :room="room"></room-status>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import RoomStatus from '@/components/RoomStatus';

export default {
  name: 'AdminDashboard',
  components: {
    RoomStatus
  },
  data() {
    return {
      handles: {},
      rooms: [],
    };
  },
  mounted() {
    const promise = new Promise((resolve, reject) => {
      const interval = setInterval(() => {
        if (this.$store.state.webrtcServer != '') {
          clearInterval(interval);
          resolve(this.$store.state.webrtcServer);
        }
      }, 200);
      setTimeout(() => {
        clearInterval(interval);
        reject(Error('Timeout retrieving WebRTC connection details from server'));
      }, 5000);
    });
    promise.then(server => {
      const onJanusInit = this.onJanusInit;
      Janus.init({ // eslint-disable-line no-undef
        debug: ['debug', 'log', 'warn', 'error'],
        callback: function() {
          onJanusInit(server);
        }
      });
    }).catch(error => {
      console.error(error);
    });
  },
  beforeDestroy() {
    this.handles.janus.destroy();
  },
  methods: {
    onJanusInit: function(server) {
      const root = this.$store.state.webrtcRoot;
      const wsroot = this.$store.state.webrtcWsRoot;
      const wss_server = `wss://${server}${wsroot}`;
      const https_server = `https://${server}${root}`;
      let servers = [wss_server, https_server];
      if (window.location.protocol === 'http:') {
        const ws_server = `ws://${server}${wsroot}`;
        const http_server = `http://${server}${root}`;
        servers = [ws_server, http_server];
      }
      const janus = new Janus({ // eslint-disable-line no-undef
        server: servers,
        iceServers: this.$store.state.webrtcIceServers,
        success: () => {
          this.handles.janus = janus;
          janus.attach({
            plugin: 'janus.plugin.videoroom',
            success: pluginHandle => {
              this.handles.streaming = pluginHandle;
              for (var i in this.$store.state.rooms) {
                const r = i;
                this.rooms.push({
                  details: this.$store.state.rooms[i],
                  statistics: {
                    participants: 0,
                  },
                });
                pluginHandle.send({
                  message: {
                    request: 'listparticipants',
                    room: Number(this.$store.state.rooms[i].webrtc_channel),
                  },
                  success: (response) => {
                    if (response.error) {
                      this.rooms[r].statistics.error = response.error;
                    } else {
                      this.rooms[r].statistics.participants = response.participants.length;
                    }
                  }
                });
              }
            },
          });
        },
      });
    }
  },
}
</script>

<style></style>
