<template>
  <div>
    <error-bar :error="error"></error-bar>
    <data-list title="Conferences" :total="numItems" :items="values" createLink="ConferenceCreateAdmin" editLink="ConferenceEditAdmin" @input="onInput">
      <v-card-actions>
        <v-btn text color="primary" :to="{ name: 'ImportSchedule' }">
          <v-icon left>mdi-calendar-import</v-icon> Import schedule
        </v-btn>
      </v-card-actions>
    </data-list>
  </div>
</template>

<script>
import Api from '@/utils/api.js';
import DataList from '@/components/DataList';
import ErrorBar from '@/components/ErrorBar';

export default {
  name: 'ConferenceAdmin',
  components: {
    DataList,
    ErrorBar,
  },
  data() {
    return {
      conferences: [],
      numItems: 0,
      page: 1,
      error: '',
    };
  },
  computed: {
    values() {
      const c = []
      for (const i in this.conferences) {
        const conference = this.conferences[i];
        c.push({
          name: conference.name,
          id: conference.id,
          values: [
            { label: 'Start Date', value: conference.start_date },
            { label: 'End Date', value: conference.end_date },
          ],
        });
      }
      return c;
    },
  },
  mounted() {
    const api = new Api();
    api.conferences().then(response => {
      this.conferences = response.data.results;
      this.numItems = Number(response.data.count);
    });
  },
  methods: {
    onInput(page) {
      this.page = page;
      const api = new Api();
      const filter = `page=${this.page}`
      api.conferences(filter).then(response => {
        this.talks = response.data.results;
      }).catch(error => {
        console.error(error);
        this.error = error.message;
      });
    },
  },
}
</script>

<style></style>
