<template>
  <v-dialog v-model="dialog" width="500" :persistent="deleteLoading">
    <template v-slot:activator="{ on }">
      <management-form :error="error" :title="title">
        <v-form v-model="valid" @submit.prevent="submit">
          <v-text-field v-model="name" :rules="requiredRules" label="Name" required>
          </v-text-field>
          <v-text-field v-model="ircServer"
                        :rules="requiredRules"
                        label="IRC server"
                        required
                        ></v-text-field>
          <v-menu v-model="startMenu"
                  :rules="requiredRules"
                  transition="scale-transition"
                  offset-y
                  min-width="290px"
                  >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      :rules="requiredRules"
                      v-model="startDate"
                      label="Start date"
                      prepend-icon="mdi-calendar"
                      outlined
                      readonly
                      v-on="on"
                      ></v-text-field>
                  </template>
            <v-date-picker
              v-model="startDate"
              ></v-date-picker>
          </v-menu>
          <v-menu v-model="endMenu"
                  :rules="requiredRules"
                  transition="scale-transition"
                  offset-y
                  min-width="290px"
                  >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      :rules="endDateRules"
                      v-model="endDate"
                      label="End date"
                      prepend-icon="mdi-calendar"
                      outlined
                      readonly
                      v-on="on"
                      ></v-text-field>
                  </template>
            <v-date-picker
              v-model="endDate"
              ></v-date-picker>
          </v-menu>
          <v-btn :disabled="!valid" color="primary" type="submit">Submit</v-btn>
          <v-btn color="secondary" :to="{ name: 'ConferenceAdmin' }">Cancel</v-btn>
          <v-btn color="error" v-on="on" v-if="isEdit">Delete</v-btn>
        </v-form>
      </management-form>
    </template>
    <v-card>
      <v-card-title class="headline grey lighten-2" primary-title>
        Confirm delete
      </v-card-title>
      <v-card-text>
        Are you sure you want to delete conference {{ name }}?"
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-btn :disabled="deleteLoading" color="secondary" text @click="dialog = false">
          No
        </v-btn>
        <v-spacer></v-spacer>
        <v-btn color="error" text @click="deleteItem" :loading="deleteLoading">Yes</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import Api from '@/utils/api.js';
import ManagementForm from '@/components/ManagementForm';

export default {
  name: 'ConferenceManageAdmin',
  components: {
    ManagementForm,
  },
  props: {
    sid: {
      type: String,
      default: "-1",
    },
  },
  data() {
    return {
      error: '',
      valid: false,
      dialog: false,
      deleteLoading: false,
      startMenu: false,
      endMenu: false,
      name: '',
      ircServer: '',
      startDate: '',
      endDate: '',
      requiredRules: [
        v => !!v || 'Required'
      ],
      endDateRules: [
        v => !!v || 'Required',
        v => {
          var start = new Date(this.startDate);
          var end = new Date(v);
          return start <= end || 'End date must be on or after start date';
        }
      ],
    };
  },
  computed: {
    isEdit() {
      return this.id != -1;
    },
    id() {
      return Number(this.sid);
    },
    title() {
      if (this.isEdit) {
        return 'Edit Conference';
      } else {
        return 'Create Conference';
      }
    },
  },
  mounted() {
    if (this.isEdit) {
      const api = new Api();
      api.conference(this.id).then(response => {
        const conference = response.data;
        this.name = conference.name;
        this.ircServer = conference.irc_server;
        this.startDate = conference.start_date;
        this.endDate = conference.end_date;
      }).catch(error => {
        this.error = 'Unable to retrieve conference details';
        console.error(error);
      });
    }
  },
  methods: {
    submit: function() {
      const api = new Api();
      var promise = null;
      if (this.isEdit) {
        promise = api.editConference(this.id, this.name, this.ircServer, this.startDate,
          this.endDate);
      } else {
        promise = api.createConference(this.name, this.ircServer, this.startDate,
          this.endDate);
      }
      promise.then(response => {
        this.$store.commit('conference', response.data);
        this.$router.push({
          name: 'ConferenceAdmin'
        });
      }).catch(error => {
        if (error.response && error.response.status < 500) {
          this.error = 'You are not authorized manage conferences';
        } else {
          this.error = 'Something went wrong, please try again';
          console.error(error);
        }
      });
    },
    deleteItem: function() {
      this.deleteLoading = true;
      const api = new Api();
      api.deleteConference(this.id).then(() => {
        this.deleteLoading = false;
        this.dialog = false;
        this.$router.push({
          name: 'ConferenceAdmin'
        });
      }).catch(error => {
        if (error.response && error.response.status < 500) {
          this.error = 'You are not authorized delete conferences';
        } else {
          this.error = 'Something went wrong, please try again';
          console.error(error);
        }
      });
    },
  }
}
</script>

<style></style>
