<template>
  <div>
    <room-list @set-room="onSetRoom"></room-list>
    <v-container>
      <v-row>
        <v-col cols="12">
          <error-bar :error="error"></error-bar>
        </v-col>
      </v-row>
      <div v-if="webRtcComponent === JANUS()">
        <v-row align="center" justify="start">
          <v-col offset-md="2" md="8" cols="12">
            <web-rtc-video id="remote-video"></web-rtc-video>
          </v-col>
        </v-row>
        <v-row align="center" justify="start">
          <v-col offset-md="2" md="8" cols="12">
            <web-rtc-controls :room="webrtcChannel" @error="onError"></web-rtc-controls>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="2" class="hidden-sm-and-down">
            <web-rtc-video id="local-video" muted v-if="isAuthenticated"></web-rtc-video>
          </v-col>
          <v-col md="8" cols="12">
            <irc-window :channel="ircChannel" :server="ircServer"></irc-window>
          </v-col>
        </v-row>
      </div>
      <div v-else-if="webRtcComponent === JITSI()">
        <v-row align="center" justify="start">
          <v-col offset-md="2" md="8" cols="12">
            <jitsi-video :room="webrtcChannel"></jitsi-video>
          </v-col>
        </v-row>
        <v-row>
          <v-col offset-md="2" md="8" cols="12">
            <irc-window :channel="ircChannel" :server="ircServer"></irc-window>
          </v-col>
        </v-row>
      </div>
    </v-container>
  </div>
</template>

<script>
import Api from '@/utils/api.js';
import ErrorBar from '@/components/ErrorBar';
import IrcWindow from '@/components/IrcWindow';
import RoomList from '@/components/RoomList';
import JitsiVideo from '@/components/JitsiVideo';
import WebRtcVideo from '@/components/WebRtcVideo';
import WebRtcControls from '@/components/WebRtcControls';

export default {
  name: 'Home',
  components: {
    ErrorBar,
    IrcWindow,
    RoomList,
    JitsiVideo,
    WebRtcVideo,
    WebRtcControls,
  },
  data() {
    return {
      room: 0,
      error: '',
      webRtcComponent: '',
    };
  },
  computed: {
    ircChannel() {
      if (this.$store.state.rooms.length > this.room) {
        return this.$store.state.rooms[this.room].irc_channel;
      } else {
        return '';
      }
    },
    webrtcChannel() {
      if (this.$store.state.rooms.length > this.room) {
        return this.$store.state.rooms[this.room].webrtc_channel;
      } else {
        return -1;
      }
    },
    ircServer() {
      if (this.$store.state.conference) {
        return this.$store.state.conference.irc_server;
      } else {
        return '';
      }
    },
    isAuthenticated() {
      return this.$store.getters.isAuthenticated;
    },
  },
  mounted() {
    const api = new Api();
    api.webrtcConfiguration().then(response => {
      if (response.data.janus_url) {
        this.webRtcComponent = this.JANUS();
      } else if (response.data.jitsi_url) {
        this.webRtcComponent = this.JITSI();
      }
    }).catch(error => {
      console.error(error);
      this.error = error.message;
    });
  },
  methods: {
    onSetRoom(roomId) {
      this.room = roomId;
    },
    onError(error) {
      this.error = error.message;
    },
    JANUS() {
      return 'JANUS';
    },
    JITSI() {
      return 'JITSI';
    },
  }
};
</script>

<style>
#remote-video {
  height: 500px;
}
#remote-video video {
  max-height: 500px;
}
</style>
