<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-alert type="error" v-model="isError">
          {{ error }}
        </v-alert>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <v-card>
          <v-card-title>Import Schedule</v-card-title>
          <v-card-text>
            <v-form v-model="valid">
              <template>
                <v-file-input v-model="file" :rules="requiredRules" accept="application/xml,text/xml,.xml" label="Upload schedule"></v-file-input>
              </template>
              <v-btn @click="submit" :disabled="!valid" color="primary" :loading="uploading">Submit</v-btn>
            </v-form>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import Api from '@/utils/api.js';

export default {
  name: 'UploadSchedule',
  data() {
    return {
      error: '',
      valid: false,
      uploading: false,
      file: null,
      requiredRules: [
        v => !!v || 'Required'
      ],
    }
  },
  computed: {
    isError() {
      return !!this.error;
    },
  },
  methods: {
    submit: function() {
      this.uploading = true;
      var formData = new FormData();
      formData.append('file', this.file);
      const api = new Api();
      api.uploadSchedule(this.$store.state.conference.id, formData).then(() => {
        this.$router.push({ name: 'ConferenceAdmin' });
      }).catch(error => {
        if (error.response && error.response.status < 500) {
          this.error = 'You are not authorized to upload a schedule';
        } else {
          this.error = 'Something went wrong, please try again';
          console.error(error);
        }
      });
    }
  },
}
</script>

<style></style>
