<template>
  <management-form title="Reset Password" :error="error">
    <v-form v-model="valid" @submit.prevent="submit">
      <v-text-field v-model="email"
                    :rules="requiredRules"
                    label="Email"
                    type="email"
                    required>
      </v-text-field>
      <v-btn type="submit" :disabled="!valid" color="primary">Submit</v-btn>
    </v-form>
  </management-form>
</template>

<script>
import ManagementForm from '@/components/ManagementForm';
import Api from '@/utils/api.js';

export default {
  name: 'PasswordResetPassword',
  components: {
    ManagementForm,
  },
  data() {
    return {
      error: '',
      valid: false,
      email: '',
      requiredRules: [
        v => !!v || 'Required'
      ],
    }
  },
  methods: {
    submit: function() {
      const api = new Api();
      api.requestResetPassword(this.email).then(() => {
        this.$router.push({ name: 'PasswordResetSent' });
      }).catch(error => {
        this.error = error.message;
        console.error(error);
      });
    },
  },
}
</script>

<style></style>
