<template>
  <div>
    <management-form title="Reset Password" :error="error">
      <v-form v-model="valid" @submit.prevent="submit">
        <v-text-field v-model="password"
                      :rules="passwordRules"
                      label="Password"
                      type="password"
                      required>
        </v-text-field>
        <v-text-field v-model="passwordConfirm"
                      :rules="repeatRules"
                      label="Confirm password"
                      type="password"
                      required>
        </v-text-field>
        <v-btn type="submit" :disabled="!valid" color="primary">Submit</v-btn>
      </v-form>
    </management-form>
    <v-dialog v-model="dialog" width="500" persistent>
      <v-card>
        <v-card-title class="headline grey lighten-2" primary-title>
          Invalid Token
        </v-card-title>
        <v-card-text>
          Your reset token is invalid or it has expired. Please try request another
          password reset.
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-btn color="primary" text :to="{ name: 'PasswordResetRequest' }">
            Ok
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import ManagementForm from '@/components/ManagementForm';
import Api from '@/utils/api.js';

export default {
  name: 'PasswordReset',
  components: {
    ManagementForm,
  },
  props: {
    token: {
      type: String,
    },
  },
  data() {
    return {
      error: '',
      valid: false,
      dialog: false,
      password: '',
      passwordConfirm: '',
      passwordRules: [
        v => !!v || 'Required',
        v => v.length >= 7 || 'Too short. Password must be 8 characters or more',
        v => isNaN(v) || 'Must contain a mix of numbers and letters',
      ],
      repeatRules: [
        v => !!v || 'Required',
        v => v === this.password || 'Passwords do not match',
      ],
    }
  },
  mounted() {
    const api = new Api();
    api.validateResetToken(this.token).catch(() => {
      this.dialog = true;
    });
  },
  methods: {
    submit: function() {
      const api = new Api();
      api.resetPassword(this.token, this.password).then(() => {
        this.$router.push({ name: 'SignIn' });
      }).catch(error => {
        this.password = '';
        this.passwordConfirm = ''
        this.error = error.message;
        console.error(error.response.data);
      });
    },
  },
}
</script>

<style></style>
