<template>
  <div>
    <error-bar :error="error"></error-bar>
    <data-list title="Rooms" :items="values" createLink="RoomCreateAdmin" editLink="RoomEditAdmin" @input="onInput"></data-list>
  </div>
</template>

<script>
import Api from '@/utils/api.js';
import DataList from '@/components/DataList';
import ErrorBar from '@/components/ErrorBar';

export default {
  name: 'RoomAdmin',
  components: {
    DataList,
    ErrorBar,
  },
  data() {
    return {
      rooms: [],
      numItems: 0,
      page: 1,
      error: '',
    };
  },
  computed: {
    values() {
      const c = []
      for (const i in this.rooms) {
        const room = this.rooms[i];
        let irc = 'Not defined';
        if (room.irc_channel) {
          irc = room.irc_channel;
        }
        c.push({
          name: room.name,
          id: room.id,
          values: [
            { label: 'Conference', value: room.conference },
            { label: 'IRC Channel', value: irc },
          ],
        });
      }
      return c;
    },
  },
  mounted() {
    const api = new Api();
    const promise = new Promise((resolve, reject) => {
      const interval = setInterval(() => {
        if (this.$store.state.conference.id) {
          clearInterval(interval);
          resolve();
        }
      }, 250);
      setTimeout(() => {
        clearInterval(interval);
        reject(Error('Timeout retrieving room list from server'));
      }, 5000);
    });
    promise.then(() => {
      const filter = `conference=${this.$store.state.conference.id}`
      api.rooms(filter).then(response => {
        this.rooms = response.data.results;
      }).catch(error => {
        console.error(error);
        this.error = error.message;
      });
    }).catch(error => {
      console.error(error);
      this.error = error.message;
    });
  },
  methods: {
    onInput(page) {
      this.page = page;
      const api = new Api();
      const filter = `conference=${this.$store.state.conference.id}&page=${this.page}`
      api.rooms(filter).then(response => {
        this.talks = response.data.results;
        this.numItems = Number(response.data.count);
      }).catch(error => {
        console.error(error);
        this.error = error.message;
      });
    },
  },
}
</script>

<style></style>
