<template>
  <v-app>
    <app-navigation></app-navigation>
    <router-view></router-view>
  </v-app>
</template>

<script>
import AppNavigation from '@/components/AppNavigation';

export default {
  name: 'Root',
  components: {
    AppNavigation,
  }
}
</script>

<style></style>

