<template>
  <management-form title="Sign In" :error="error">
    <v-form v-model="valid" @submit.prevent="submit">
      <v-text-field v-model="username" :rules="requiredRules" label="Username" required>
      </v-text-field>
      <v-text-field v-model="password" :rules="requiredRules" label="Password" type="password" required>
      </v-text-field>
      <v-btn type="submit" :disabled="!valid" color="primary">Submit</v-btn>
      <v-spacer></v-spacer>
      <router-link :to="{ name: 'PasswordResetRequest' }">
        Forgot password?
      </router-link>
    </v-form>
  </management-form>
</template>

<script>
import ManagementForm from '@/components/ManagementForm';

export default {
  name: 'SignIn',
  components: {
    ManagementForm,
  },
  props: {
    next: {
      type: String,
      default: '/'
    }
  },
  data() {
    return {
      error: '',
      valid: false,
      username: '',
      password: '',
      requiredRules: [
        v => !!v || 'Required'
      ],
    }
  },
  methods: {
    submit: function() {
      const username = this.username;
      const password = this.password;
      this.$store.dispatch('auth-request', {username, password}).then(() => {
        this.$router.push(this.next);
      }).catch(error => {
        if (error.response && error.response.status < 500) {
          this.error = 'Incorrect username or password';
        } else {
          this.error = 'Something went wrong, please try again';
          console.error(error);
        }
        this.password = '';
      });
    }
  },
}
</script>

<style></style>
