<template>
  <div>
    <error-bar :error="error"></error-bar>
    <data-list title="Talks" :total="numItems" :items="values" createLink="TalkCreateAdmin" editLink="TalkEditAdmin" @input="onInput"></data-list>
  </div>
</template>

<script>
import Api from '@/utils/api.js';
import DataList from '@/components/DataList';
import ErrorBar from '@/components/ErrorBar';

export default {
  name: 'TalkAdmin',
  components: {
    DataList,
    ErrorBar,
  },
  data() {
    return {
      talks: [],
      rooms: [],
      error: '',
      numItems: 0,
      page: 1,
    };
  },
  computed: {
    createLink() {
      return this.$router.resolve({ name: 'ConferenceCreateAdmin' }).href;
    },
    values() {
      const c = []
      for (const i in this.talks) {
        const talk = this.talks[i];
        let room = talk.room;
        for (const j in this.rooms) {
          if (this.rooms[j].id === talk.room) {
            room = this.rooms[j].name;
            break;
          }
        }
        c.push({
          name: talk.name,
          id: talk.id,
          values: [
            { label: 'Start', value: talk.start },
            { label: 'Duration', value: talk.duration },
            { label: 'Room', value: room },
          ],
        });
      }
      return c;
    },
  },
  mounted() {
    const api = new Api();
    const promise = new Promise((resolve, reject) => {
      const interval = setInterval(() => {
        if (this.$store.state.conference.id) {
          clearInterval(interval);
          resolve();
        }
      }, 250);
      setTimeout(() => {
        clearInterval(interval);
        reject(Error('Timeout retrieving talk list from server'));
      }, 5000);
    });
    promise.then(() => {
      api.talks(`conference=${this.$store.state.conference.id}`).then(response => {
        this.talks = response.data.results;
        this.numItems = Number(response.data.count);
      }).catch(error => {
        this.error = error.message;
      });
      const filter = `conference=${this.$store.state.conference.id}`
      api.rooms(filter).then(response => {
        this.rooms = response.data.results;
      }).catch(error => {
        this.error = error.message;
      });
    }).catch(error => {
      this.error = error.message;
    });
  },
  methods: {
    onInput(page) {
      this.page = page;
      const api = new Api();
      const filter = `conference=${this.$store.state.conference.id}&page=${this.page}`
      api.talks(filter).then(response => {
        this.talks = response.data.results;
      }).catch(error => {
        console.error(error);
        this.error = error.message;
      });
    },
  },
}
</script>

<style></style>
