<template>
  <div>
    <v-alert type="success" v-model="passwordResetSuccessful" text dismissible>
      Reset email sent
    </v-alert>
    <v-dialog v-model="dialog" width="500" :persistent="deleteLoading">
      <template v-slot:activator="{ on }">
        <management-form :error="error" :title="title">
          <v-form v-model="valid" @submit.prevent="submit">
            <v-text-field v-model="name"
                          :rules="requiredRules"
                          label="Full Name"
                          required
                          ></v-text-field>
            <v-text-field v-model="email"
                          :rules="requiredRules"
                          label="Email"
                          type="email"
                          required
                          ></v-text-field>
            <v-switch v-model="isStaff" label="Enable admin access"></v-switch>
            <v-btn :disabled="!valid" color="primary" type="submit">Submit</v-btn>
            <v-btn color="secondary" @click="resetPassword" v-if="isEdit">Reset Password</v-btn>
            <v-btn color="secondary" :to="{ name: 'UserAdmin' }">Cancel</v-btn>
            <v-btn color="error" v-on="on" v-if="isEdit">Delete</v-btn>
          </v-form>
        </management-form>
      </template>
      <v-card>
        <v-card-title class="headline grey lighten-2" primary-title>
          Confirm delete
        </v-card-title>
        <v-card-text>
          Are you sure you want to delete user {{ name }}?"
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-btn :disabled="deleteLoading" color="secondary" text @click="dialog = false">
            No
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn color="error" text @click="deleteItem" :loading="deleteLoading">Yes</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import Api from '@/utils/api.js';
import ManagementForm from '@/components/ManagementForm';

export default {
  name: 'UserManageAdmin',
  components: {
    ManagementForm,
  },
  props: {
    sid: {
      type: String,
      default: "-1",
    },
  },
  data() {
    return {
      error: '',
      passwordResetSuccessful: false,
      valid: false,
      dialog: false,
      deleteLoading: false,
      name: '',
      email: '',
      isStaff: false,
      requiredRules: [
        v => !!v || 'Required'
      ],
    };
  },
  computed: {
    isEdit() {
      return this.id != -1;
    },
    id() {
      return Number(this.sid);
    },
    title() {
      if (this.isEdit) {
        return 'Edit User';
      } else {
        return 'Create User';
      }
    },
  },
  mounted() {
    if (this.isEdit) {
      const api = new Api();
      api.user(this.id).then(response => {
        const user = response.data;
        this.name = user.name;
        this.email = user.email;
        this.isStaff = user.is_staff;
      }).catch(error => {
        this.error = 'Unable to retrieve user details';
        console.error(error);
      });
    }
  },
  methods: {
    submit: function() {
      const api = new Api();
      var promise = null;
      if (this.isEdit) {
        promise = api.editUser(this.id, this.name, this.email, this.isStaff);
      } else {
        promise = api.createUser(this.name, this.email, this.isStaff);
      }
      promise.then(response => {
        this.$store.commit('user', response.data);
        this.$router.push({
          name: 'UserAdmin'
        });
      }).catch(error => {
        if (error.response && error.response.status == 409) {
          this.error = 'The email already exists in the database';
          console.log(error.response.data);
        } else if (error.response && error.response.status < 500) {
          this.error = 'You are not authorized manage users';
          console.log(error.response.data);
        } else {
          this.error = 'Something went wrong, please try again';
          console.error(error);
        }
      });
    },
    deleteItem: function() {
      this.deleteLoading = true;
      const api = new Api();
      api.deleteUser(this.id).then(() => {
        this.deleteLoading = false;
        this.dialog = false;
        this.$router.push({
          name: 'UserAdmin'
        });
      }).catch(error => {
        if (error.response && error.response.status < 500) {
          this.error = 'You are not authorized delete users';
        } else {
          this.error = 'Something went wrong, please try again';
          console.error(error);
        }
      });
    },
    resetPassword: function() {
      const api = new Api();
      api.user(this.id).then(response => {
        api.requestResetPassword(response.data.email).then(() => {
          this.passwordResetSuccessful = true;
        }).catch(error => {
          this.error = error.message;
          console.error(error);
        });
      }).catch(error => {
        this.error = error.message;
        console.error(error);
      });
    },
  }
}
</script>

<style></style>
