<template>
  <div>
    <error-bar :error="error"></error-bar>
    <data-list title="Users"
               :total="numItems"
               :items="values"
               createLink="UserCreateAdmin"
               editLink="UserEditAdmin"
               @input="onInput"></data-list>
  </div>
</template>

<script>
import Api from '@/utils/api.js';
import DataList from '@/components/DataList';
import ErrorBar from '@/components/ErrorBar';

export default {
  name: 'UserAdmin',
  components: {
    DataList,
    ErrorBar,
  },
  data() {
    return {
      users: [],
      numItems: 0,
      error: '',
      page: 1,
    };
  },
  computed: {
    values() {
      const c = []
      for (const i in this.users) {
        const user = this.users[i];
        c.push({
          name: user.name,
          id: user.id,
          values: [
            { label: 'Email', value: user.email },
            { label: 'Staff', value: user.is_staff },
          ],
        });
      }
      return c;
    },
  },
  mounted() {
    const api = new Api();
    api.users().then(response => {
      this.users = response.data.results;
      this.numItems = Number(response.data.count);
    }).catch(error => {
      console.error(error);
      this.error = error.message;
    });
  },
  methods: {
    onInput(page) {
      this.page = page;
      const api = new Api();
      const filter = `page=${this.page}`
      api.users(filter).then(response => {
        this.users = response.data.results;
        this.numItems = Number(response.data.count);
      }).catch(error => {
        console.error(error);
        this.error = error.message;
      });
    },
  },
}
</script>

<style></style>
